.blank1 {background: Gainsboro;}
.blank2 {background: White;}
.two {background: pink; outline: 3px solid black; }
.four {background: orange;}


p { color:black; }

table, tr, td {
  border: 1px solid white;
  outline: 3px solid black;
  width: 100px;
  height: 100px;
}
table {
  border: 10px #101055;
    table-layout: fixed;
}

td{
	height 25%;
	text-align: center;
	vertical-align: middle;
	background-color: #E5CFc4;
	font-size: 40px;
	font: baloo;
	
}
tr {
	width 25%;
	
}
